<div
  class="bg-[#263238] bottom-[70px] absolute w-screen px-[2rem] py-[4rem] flex flex-col gap-[5rem] lg:flex-row lg:justify-between lg:px-[6rem] lg:bottom-0"
>
  <div class="flex flex-col gap-[3rem]">
    <img src="../../assets/images/logoWhite.svg" alt="" class="w-[150px]" />
    <div class="flex items-center justify-between">
      <p class="leading-6 text-[#F5F7FA] text-[0.7rem]">
        Copyright © 2020 Nexcent ltd.
      </p>
      <p class="leading-6 text-[#F5F7FA] text-[0.7rem]">All rights reserved</p>
    </div>
    <div class="flex items-center gap-[2rem] justify-between">
      <img src="../../assets/icons/instagram.svg" alt="" />
      <img src="../../assets/icons/dribble.svg" alt="" />
      <img src="../../assets/icons/twitter.svg" alt="" />
      <img src="../../assets/icons/youtube.svg" alt="" />
    </div>
  </div>
  <div class="flex flex-col gap-6 lg:flex-row lg:gap-[6rem]">
    <div class="">
      <h3 class="text-white">Company</h3>
      <div class="mt-3 flex flex-col gap-[.5rem]">
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">About Us</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Blog</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Contact Us</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Pricing</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Testimonials</p>
      </div>
    </div>
    <div class="flex flex-col">
      <h3 class="text-white">Support</h3>
      <div class="mt-4 flex flex-col gap-[.5rem]">
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Help Center</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Terms of service</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Legal</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Privacy Policy</p>
        <p class="text-[#F5F7FA] font-thin text-[0.75em]">Status</p>
      </div>
    </div>
    <div class="flex flex-col">
      <h3 class="text-white">Stay up to date</h3>
      <div class="mt-5">
        <div
          class="bg-[#636363c4] w-[100%] h-[50px] rounded-[10px] flex items-center justify-between max-w-[100%] max-h-[50px] overflow-hidden"
        >
          <input
            type="text"
            placeholder="Your email address"
            class="h-[100%] w-[85%] placeholder:text-[#f5f7fa] placeholder:text-[.8rem] px-3 bg-transparent outline-none text-white"
          />
          <div
            class="w-[50px] h-[50px] flex justify-center items-center text-white text-2xl"
          >
            <ion-icon name="send-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
