<nav
  class="z-10 fixed bottom-0 bg-bg-primary w-screen flex justify-center h-[70px] items-center rounded-[0] lg:hidden border-2"
>
  <ul class="flex w-[87.5%] justify-evenly relative">
    <li class="relative list-none w-[70px] h-[70px] z-[1] active">
      <a
        href="#"
        class="relative flex justify-center items-center flex-col w-[100%] text-center font-[500]"
        ><div
          class="relative block leading-[75px] text-[1.5em] text-center transition duration-[0.5s] text-[#18191F] z-[3]"
        >
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <span
          class="absolute text-text-primary font-[400] text-[0.75em] tracking-[0.05em] duration-[0.5s] opacity-[0]"
          >Home</span
        ></a
      >
      <!-- <span class="indicator"></span> -->
    </li>
    <li class="relative list-none w-[70px] h-[70px] z-[1]">
      <a
        href="#"
        class="relative flex justify-center items-center flex-col w-[100%] text-center font-[500]"
        ><div
          class="relative block leading-[75px] text-[1.5em] text-center transition duration-[0.5s] text-[#18191F]"
        >
          <ion-icon name="help-buoy-outline"></ion-icon>
        </div>
        <span
          class="absolute text-text-primary font-[400] text-[0.75em] tracking-[0.05em] duration-[0.5s] opacity-[0]"
          >Service</span
        ></a
      >
    </li>
    <li class="relative list-none w-[70px] h-[70px] z-[1]">
      <a
        href="#"
        class="relative flex justify-center items-center flex-col w-[100%] text-center font-[500]"
        ><div
          class="relative block leading-[75px] text-[1.5em] text-center transition duration-[0.5s] text-[#18191F]"
        >
          <ion-icon name="apps-outline"></ion-icon>
        </div>
        <span
          class="absolute text-text-primary font-[400] text-[0.75em] tracking-[0.05em] duration-[0.5s] opacity-[0]"
          >Feature</span
        ></a
      >
    </li>
    <li class="relative list-none w-[70px] h-[70px] z-[1]">
      <a
        href="#"
        class="relative flex justify-center items-center flex-col w-[100%] text-center font-[500]"
        ><div
          class="relative block leading-[75px] text-[1.5em] text-center transition duration-[0.5s] text-[#18191F]"
        >
          <ion-icon name="pricetags-outline"></ion-icon>
        </div>
        <span
          class="absolute text-text-primary font-[400] text-[0.75em] tracking-[0.05em] duration-[0.5s] opacity-[0]"
          >Products</span
        ></a
      >
    </li>
    <li class="relative list-none w-[70px] h-[70px] z-[1]">
      <a
        href="#"
        class="relative flex justify-center items-center flex-col w-[100%] text-center font-[500]"
        ><div
          class="relative block leading-[75px] text-[1.5em] text-center transition duration-[0.5s] text-[#18191F]"
        >
          <ion-icon name="shield-checkmark-outline"></ion-icon>
        </div>
        <span
          class="absolute text-text-primary font-[400] text-[0.75em] tracking-[0.05em] duration-[0.5s] opacity-[0]"
          >testimonial</span
        ></a
      >
    </li>
  </ul>
</nav>
<nav
  class="fixed bg-transparent top-0 hidden lg:flex justify-between px-[3rem] py-[2rem] w-screen items-center h-[100px]"
>
  <div>
    <img src="../../assets/images/logo.svg" alt="" />
  </div>
  <div>
    <ul class="flex items-center gap-[2.5rem]">
      <li><a href="#">Home</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Feature</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Testimonial</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="flex gap-[1rem] items-center">
    <a href="#" class="text-color-primary">Login</a
    ><a
      href="#"
      class="bg-color-primary px-[30px] py-[10px] rounded-[7px] text-white"
      >Sign Up</a
    >
  </div>
</nav>
